h1{
    position: relative;
    top: 94px;
    left: 296px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    position: relative;
    top: 11px;
    left: 441px;
    font-size: 41px;
    font-weight: normal;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
}
.pluscircle{
    color: tomato;
    position: relative;
    left: 840px;
    top: -15px;
    font-size: 22px;
    }
.stext{
    color: thistle;
    font-weight: lighter;
    font-size: 16px;
    position: relative;
    left: 9px;
    top: -2px;
}
.box1{
    position: absolute;
    top: 233px;
    left: 307px;
    border: 1px solid red;
    width: 172px;
    height: 272px;
    border-radius: 10px;
}
.text{
    color:red;
    text-decoration: none;
}


.paris1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 17px;
    left: 31px;
    font-size: 23px;
    font-weight: lighter;
}
.hr{
    width: 147px;
    position: relative;
    top: 11px;
    left: -3px;
}
.paris2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 25px;
    left: 15px;
    font-size: 21px;
    text-decoration: line-through;
}
.form{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 46px;
    left: 6px;
    font-size: 21px;
}
.todo{
    position: absolute;
    top: 233px;
    left: 585px;
    border: 1px solid red ;
    width: 172px;
    height: 272px;
    border-radius: 10px;
}
.todo1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 15px;
    left: 24px;
    font-size: 23px;
    font-weight: lighter;
}
.hr2{
    width: 147px;
    position: relative;
    top: 9px;
    left: -6px;
}
.todo2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 15px;
    left: 11px;
    font-size: 21px;
    text-decoration: line-through;
}
.form2{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 46px;
    left: 5px;
    font-size: 21px;
}
.box2{
    /* color: red; */
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 33px;
    left: 870px;
    border: 1px solid red ;
    width: 172px;
    height: 272px;
    border-radius: 10px;

}
.list1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 15px;
    left: 24px;
    font-size: 23px;
    font-weight: lighter;
}
.hr2{
    width: 147px;
    position: relative;
    top: 9px;
    left: -6px;
}
.list2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 28px;
    left: 11px;
    font-size: 21px;
    text-decoration: line-through;
}
.form3{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 46px;
    left: 5px;
    font-size: 21px;
}
.plus{
    border: 1px solid red ;
    border-radius: 2px;
    color: white;
    font-size: 27px;
    background: red;
    width: 28px;
    height: 28px;
    text-align: center;
    position: absolute;
    top: 145px;
    left: 890px;
}
.plus1{

    color: white;
    font-size: 27px;
    text-align: center;
    position: absolute;
    top: 147px;
    left: 935px;
    font-family: Arial, Helvetica, sans-serif;
}

.parent2{
    border: 1px solid red ;
    width: 313px;
    height: 149px;
    z-index: +1;
    position: absolute;
    top: 303px;
    left: 499px;
    border-radius: 5px;
    background-color: white;
 
}
.new{
    color: tomato;
    font-size: 19px;
    position: relative;
    top: 22px;
    left: 89px;
    font-family: Arial, Helvetica, sans-serif;
}
.new2{

    height: 27px;
    width: 200px;
    border: 1px solid red ;
    position: relative;
    top: 39px;
    left: 52px;
    border-radius: 4px;
}